body {
  margin: 0;
  width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    display: grid;
    grid-template-rows: min-content 1fr;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  padding: 1rem 1rem;
  background-color: #22a6b3
}

.header-menu-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  appearance: none;
    border: solid thin #999;
  border-radius: 5px;
  padding: 4px 8px;
    cursor: pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header-menu-button:hover {
  background-color: aqua;
}

.header-menu-button svg {
  width: 24px;
  height: 24px;
  pointer-events: none;
}

header nav {
  display: none;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 8px;
}

header nav ul li {
  padding: 8px 16px;
  border: solid thin #dfdfdf79;
  border-radius: 5px;
  background-color: #7ed6df;
  color: #ffffff;
}

header nav ul li a {
  text-decoration-line: none;
}

main {
  display: block;
  width: 100dvw;
  height: 100%;
  overflow: auto;
}

.hero-image {}

.hero-image img {
  width: 100%;
}

;

.category {
  padding: 8px 16px;
}

.items-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.items-container .item {
  padding: 16px 16px;
  background-color: #30336b;
  color: #ffffff;
  border-radius: 5px;
}

.items-container .item img {
  width: 100%;
  background-color: white;
}

.items-container .item p {
  margin: 0;
  font-size: 1.5em;
  padding: 4px 0;
}

.items-container .item form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Media queries för att göra responsiv */
/* tablets and laptops */
@media screen and (min-width:756px) {
  .items-container {
    grid-template-columns: 1fr 1fr;
  }

    .header-menu-button {
      display: none;
    }

    header nav {
      display: flex;
    }

    main {
      padding: 0 16px;
    }
}

/*
      Computers 
      */
@media screen and (min-width:1024px) {
  .items-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}